@import '../../styles/colors';

.Info{
    position: absolute;
    display: flex;
    background-color: $colorBack;
    z-index: 1000;
    margin-top: 110px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    & > div{
        font-size: 18px;
        margin-bottom: 4px;

        & > span{
            margin-left: 4px;
            font-size: 12px;
        }
    }
}