@import '../../styles/colors';

.header{
    position: fixed;
    z-index: 1000;
    width: calc(100vw - 80px);
    background-color: $colorBack;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    & > a{
        & > img{
            width: 150px;
        }
    }
}